In [ ]:
import numpy as np
import pandas as pd

In [ ]:
np.set_printoptions(precision=2)

**Зчитуємо дані з файлу**

In [ ]:
data = pd.read_csv('sample_data/adult_data.csv', sep=',')

**1. Скільки чоловіків та жінок (ознака sex) представлено в цьому наборі даних?**

In [ ]:
counts = len(data[data['sex'] == 'Male']), len(data[data['sex'] == 'Female'])
print('Males: ', counts[0])
print('Females: ', counts[1])

Males:  21790
Females:  10771

**2. Який середній вік жінок (ознака age)?**

In [ ]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. Яка частка громадян Німеччини (ознака native-country)?**

In [ ]:
len(data[data['native-country'] == 'Germany']) / len(data)

0.004207487485028101

**4. Які середні значення та середньоквадратичні відхилення віку тих, хто отримує більше 50К в рік (ознака salary) та менше або рівно 50К в рік?**

In [ ]:
frame = data[data['salary'] == '>50K']['age']
print('              Mean            Standard Deviation')
print('>50K: ', frame.mean(), ' ', frame.std())
frame = data[data['salary'] == '<=50K']['age']
print('<=50K: ', frame.mean(), ' ', frame.std())

              Mean            Standard Deviation
>50K:  44.24984058155847   10.51902771985177
<=50K:  36.78373786407767   14.020088490824813

**5. Чи правда, що люди, які отримують більше 50К, мають як мінімум вищу освіту (ознака education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate)?**

In [ ]:
data[data['salary'] == '>50K']['education'].apply(
    lambda x: x in ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 
                    'Masters', 'Doctorate']).all()

False

**6. Виведіть статистику віку для кожної раси (ознака race) і статі. Використовуйте groupby та describe. Знайдіть максимальний вік чоловіків раси Amer-Indian-Eskimo.**

In [ ]:
data.groupby('race')[['age', 'race']].describe()

                        age
                      count       mean        std   min   25%   50%   75%   max
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5  82.0
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0  90.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0  90.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0  77.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0  90.0

In [ ]:
data.groupby('sex')[['age', 'sex']].describe()

            age
          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

In [ ]:
data[data['race'] == 'Amer-Indian-Eskimo']['age'].max()

82

**7. Серед кого більша частка з високою зарплатнею (>50K): серед одружених або неодружених чоловіків (ознака marital-status)? Одруженими вважаємо тих, у кого marital-status починається з Married (Married-civ-spouse, Married-spouse-absent, Married-AF-spouse), інших вважаємо неодруженими.**

In [ ]:
rich = data[(data['salary'] == '>50K') & (data['sex'] == 'Male')]
married = len(rich[rich['marital-status']
                   .apply(lambda x: x.startswith('Married'))])
bachelors = len(rich) - married

print('Married: ', married)
print('Bachelors: ', bachelors)

if married > bachelors:
  print('Married prevail')
elif married < bachelors:
  print('Bachelors prevail')
else:
  print('Nobody prevails')

Married:  5965
Bachelors:  697
Married prevail

**8. Яку максимальну кількість годин людина працює на тиждень (ознака hours-per-week)? Скільки людей працюють таку кількість годин і який серед них відсоток заробляють багато?**

In [ ]:
max_hours = data['hours-per-week'].max()
print('Max hours per week: ', max_hours)
slaves = data[data['hours-per-week'] == max_hours]
print('People working max hours: ', len(slaves))
rich_slaves = slaves[slaves['salary'] == '>50K']
print('Percent of making >50K: ', len(rich_slaves) / len(slaves))

Max hours per week:  99
People working max hours:  85
Percent of making >50K:  0.29411764705882354

**9. Порахуйте середній час роботи (ознака hours-per-week) тих, хто заробляє мало і багато для кожної країни (ознака native-country).**

In [ ]:
for country, sub_df in data.groupby('native-country'):
  print(country)
  series = sub_df.groupby('salary')['hours-per-week'].agg(np.mean)
  frame = pd.DataFrame({'salary': series.index, 
                        'mean hours per week': series.values})
  print(frame.to_string(index=False) + '\n')

?
salary  mean hours per week
 <=50K            40.164760
  >50K            45.547945

Cambodia
salary  mean hours per week
 <=50K            41.416667
  >50K            40.000000

Canada
salary  mean hours per week
 <=50K            37.914634
  >50K            45.641026

China
salary  mean hours per week
 <=50K            37.381818
  >50K            38.900000

Columbia
salary  mean hours per week
 <=50K            38.684211
  >50K            50.000000

Cuba
salary  mean hours per week
 <=50K            37.985714
  >50K            42.440000

Dominican-Republic
salary  mean hours per week
 <=50K            42.338235
  >50K            47.000000

Ecuador
salary  mean hours per week
 <=50K            38.041667
  >50K            48.750000

El-Salvador
salary  mean hours per week
 <=50K            36.030928
  >50K            45.000000

England
salary  mean hours per week
 <=50K            40.483333
  >50K            44.533333

France
salary  mean hours per week
 <=50K            41.058824
  >50K            50.750000

Germany
salary  mean hours per week
 <=50K            39.139785
  >50K            44.977273

Greece
salary  mean hours per week
 <=50K            41.809524
  >50K            50.625000

Guatemala
salary  mean hours per week
 <=50K            39.360656
  >50K            36.666667

Haiti
salary  mean hours per week
 <=50K               36.325
  >50K               42.750

Holand-Netherlands
salary  mean hours per week
 <=50K                   40

Honduras
salary  mean hours per week
 <=50K            34.333333
  >50K            60.000000

Hong
salary  mean hours per week
 <=50K            39.142857
  >50K            45.000000

Hungary
salary  mean hours per week
 <=50K                 31.3
  >50K                 50.0

India
salary  mean hours per week
 <=50K            38.233333
  >50K            46.475000

Iran
salary  mean hours per week
 <=50K                41.44
  >50K                47.50

Ireland
salary  mean hours per week
 <=50K            40.947368
  >50K            48.000000

Italy
salary  mean hours per week
 <=50K               39.625
  >50K               45.400

Jamaica
salary  mean hours per week
 <=50K            38.239437
  >50K            41.100000

Japan
salary  mean hours per week
 <=50K            41.000000
  >50K            47.958333

Laos
salary  mean hours per week
 <=50K               40.375
  >50K               40.000

Mexico
salary  mean hours per week
 <=50K            40.003279
  >50K            46.575758

Nicaragua
salary  mean hours per week
 <=50K             36.09375
  >50K             37.50000

Outlying-US(Guam-USVI-etc)
salary  mean hours per week
 <=50K            41.857143

Peru
salary  mean hours per week
 <=50K            35.068966
  >50K            40.000000

Philippines
salary  mean hours per week
 <=50K            38.065693
  >50K            43.032787

Poland
salary  mean hours per week
 <=50K            38.166667
  >50K            39.000000

Portugal
salary  mean hours per week
 <=50K            41.939394
  >50K            41.500000

Puerto-Rico
salary  mean hours per week
 <=50K            38.470588
  >50K            39.416667

Scotland
salary  mean hours per week
 <=50K            39.444444
  >50K            46.666667

South
salary  mean hours per week
 <=50K             40.15625
  >50K             51.43750

Taiwan
salary  mean hours per week
 <=50K            33.774194
  >50K            46.800000

Thailand
salary  mean hours per week
 <=50K            42.866667
  >50K            58.333333

Trinadad&Tobago
salary  mean hours per week
 <=50K            37.058824
  >50K            40.000000

United-States
salary  mean hours per week
 <=50K            38.799127
  >50K            45.505369

Vietnam
salary  mean hours per week
 <=50K            37.193548
  >50K            39.200000

Yugoslavia
salary  mean hours per week
 <=50K                 41.6
  >50K                 49.5

For some data samples the native country is unknown ("?"). For them statistics is provided too.